version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: AvarDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ''
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"
    networks:
      - app-network

  server:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./AvarTranslator:/app          # монтируем папку с Django-проектом
    ports:
      - "8000:8000"
    environment:
      - DB_NAME=AvarDB
      - DB_USER=postgres
      - DB_PASSWORD=''
      - DB_HOST=db
      - DB_PORT=5432
    depends_on:
      - db
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
